#app
{
  direction:rtl;
}
#nav{
  background-color:rgb(214, 212, 212);
    margin-top: 3%;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient:horizontal;
    text-align: center;
    overflow: hidden;
  }
  
.nav1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:25px;
    margin-left: 3%;
   text-align:center ;
   padding: 14px 16px;
   text-decoration:none;
   text-decoration: none;
   color: black;
}
body{
  background-color: white;
}
li{
  list-style-type: none;
   float: left;
   outline: none;
   text-decoration: none;
   color: tomato;
  }

.nav1:hover{
  background-color: darkgrey;
}
#header{
  display: flex;
  margin-top: 10px;

}
.search {
   display: flex;
   height: 50px;
   border-radius: 50px;
   border: 1px solid;
   position: relative;
   width: 30%;
   margin-top: 25px;

} 
.search input {
    border: none;
    width: 70%;
    padding-right: 20px;
    border-radius:0%;
    font-size: 16px;
    color: rbga(0,0,0,1);
    font-family: assistant,helvetica,sans-serif;
    outline: none;
  }
 .search i{
  margin-top: 15px;
 }
  #header img{
   width: 8%;
   height: 8%;
 } 
  
#endPage
{
  color: white;
  height:  50%;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 50%;
  background-color: black;
}