.wine {
    border: 1px soild black;
    box-shadow: 2px 2px 2px 2px grey;
    width: 30%;
    float: left;
    text-align: center;
    height: 100px;
    padding: 15px;
}
.warpper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 52px;
}
.warpper>.card{
width: 25%;
/* max-height: 100px; */
display: inline;
}