
 .recipeFile  { 
    /* height: 70%; */
    /* width: 85%; */
    display: flex;
    /* margin: 3% 5%; */
    justify-content: space-between;
}
.recipeFile .listRecipe{
  width: 30%;
}
.silderRecipe{
  margin-right: 25%;

}
.recipeFile .listRecipe  img{ 
   width: 45%;
   height: 19%;
   display: -ms-flex;
   display: -webkit-flex;
}


.recipeFile .listRecipe  .link{ 
  margin-left: 20px;
 
 text-decoration:none;
 color: 5px  solid #891826 ; 
}
.recipeFile .listRecipe  .link:nth-child(8){ 
  margin-left: 40px;
}
