
.g{
margin-right:50%;
}
input {
    border-bottom-width: 5px;
    border-bottom-color:#891826; 
     border-style:solid;
    width: 300px;
    height: 25px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    direction: rtl;
}
.lastinput{
    border: none;
    width: 80%;
    outline: none;

}
.password{
    
    border-bottom-width: 5px;
    border-bottom-color:#891826; 
     border-style:solid;
    width: 305px;
    height: 40px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    direction: rtl;
}
h3{
  margin-left: 12%;
  /* text-align: center; */
}
button{
    border-radius: 4pt;
    background-color: black;
    color: white;
    width: 140px;
    padding: 5px;
    margin-left: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2%;

}
.buttonCity{
     background-color: #891826;;
        border-style:solid;
}
select{
     direction: rtl; 
     color:#969393;
     height: 25px;
     width: 152px;
}
option{
    color: black;
}
.placeButton{
    padding-right: 75px;
}