
.g{background-color: white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
}
h3{ text-align:right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    border-bottom-width: 5px;
    border-bottom-color:rgb(148, 3, 3) ;
    border-radius: 2pt;
 border-style:solid;
    width: 250px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:8px ;
    margin: 20px;
}
button{
    border-radius: 4pt;
    background-color: black;
    color: white;
    width: 100px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}